{
	"gui": {
		"background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/paintPicker/header.png",
			"fileBody": "/interface/paintPicker/body.png",
			"fileFooter": "/interface/paintPicker/footer.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/paintPicker/x.png",
			"hover": "/interface/paintPicker/xred.png",
			"press": "/interface/paintPicker/xred.png",
			"pressedOffset": [0, -1],
			"position": [197, 27]
		},
		"colors": {
			"type": "radioGroup",
			"toggleMode": false,
			"callback": "pickColor",
			"position": [3, 3],
			"buttons": [{
					"baseImage": "/interface/paintPicker/colors/none.png",
					"hoverImage": "/interface/paintPicker/colors/none.png?brightness=10",
					"baseImageChecked": "/interface/paintPicker/colors/noneselected.png",
					"hoverImageChecked": "/interface/paintPicker/colors/noneselected.png?brightness=10",
					"pressedOffset": [0, -1],
					"position": [0, 0],
					"selected": true
				},
				{
					"baseImage": "/interface/paintPicker/colors/white.png",
					"hoverImage": "/interface/paintPicker/colors/white.png?brightness=30",
					"baseImageChecked": "/interface/paintPicker/colors/whiteselected.png",
					"hoverImageChecked": "/interface/paintPicker/colors/whiteselected.png?brightness=30",
					"pressedOffset": [0, -1],
					"position": [22, 0],
					"data": "white"
				},
				{
					"baseImage": "/interface/paintPicker/colors/black.png",
					"hoverImage": "/interface/paintPicker/colors/black.png?brightness=30",
					"baseImageChecked": "/interface/paintPicker/colors/blackselected.png",
					"hoverImageChecked": "/interface/paintPicker/colors/blackselected.png?brightness=30",
					"pressedOffset": [0, -1],
					"position": [44, 0],
					"data": "black"
				},
				{
					"baseImage": "/interface/paintPicker/colors/red.png",
					"hoverImage": "/interface/paintPicker/colors/red.png?brightness=30",
					"baseImageChecked": "/interface/paintPicker/colors/redselected.png",
					"hoverImageChecked": "/interface/paintPicker/colors/redselected.png?brightness=30",
					"pressedOffset": [0, -1],
					"position": [66, 0],
					"data": "red"
				},
				{
					"baseImage": "/interface/paintPicker/colors/orange.png",
					"hoverImage": "/interface/paintPicker/colors/orange.png?brightness=30",
					"baseImageChecked": "/interface/paintPicker/colors/orangeselected.png",
					"hoverImageChecked": "/interface/paintPicker/colors/orangeselected.png?brightness=30",
					"pressedOffset": [0, -1],
					"position": [88, 0],
					"data": "orange"
				},
				{
					"baseImage": "/interface/paintPicker/colors/yellow.png",
					"hoverImage": "/interface/paintPicker/colors/yellow.png?brightness=30",
					"baseImageChecked": "/interface/paintPicker/colors/yellowselected.png",
					"hoverImageChecked": "/interface/paintPicker/colors/yellowselected.png?brightness=30",
					"pressedOffset": [0, -1],
					"position": [110, 0],
					"data": "yellow"
				},
				{
					"baseImage": "/interface/paintPicker/colors/green.png",
					"hoverImage": "/interface/paintPicker/colors/green.png?brightness=30",
					"baseImageChecked": "/interface/paintPicker/colors/greenselected.png",
					"hoverImageChecked": "/interface/paintPicker/colors/greenselected.png?brightness=30",
					"pressedOffset": [0, -1],
					"position": [132, 0],
					"data": "green"
				},
				{
					"baseImage": "/interface/paintPicker/colors/blue.png",
					"hoverImage": "/interface/paintPicker/colors/blue.png?brightness=30",
					"baseImageChecked": "/interface/paintPicker/colors/blueselected.png",
					"hoverImageChecked": "/interface/paintPicker/colors/blueselected.png?brightness=30",
					"pressedOffset": [0, -1],
					"position": [154, 0],
					"data": "blue"
				},
				{
					"baseImage": "/interface/paintPicker/colors/pink.png",
					"hoverImage": "/interface/paintPicker/colors/pink.png?brightness=30",
					"baseImageChecked": "/interface/paintPicker/colors/pinkselected.png",
					"hoverImageChecked": "/interface/paintPicker/colors/pinkselected.png?brightness=30",
					"pressedOffset": [0, -1],
					"position": [176, 0],
					"data": "pink"
				}
			]
		}
	},

	"scriptWidgetCallbacks": [
		"pickColor"
	],

	"scripts": ["/interface/paintPicker/paintPicker.lua"],
	"scriptDelta": 1,

  "serializeSelection": true
}