{
	"gui": {
		"background": {
			"zlevel": 0,
			"type": "background",
			"fileHeader": "/interface/colorPicker/header.png",
			"fileBody": "/interface/colorPicker/body.png",
			"fileFooter": "/interface/colorPicker/footer.png"
		},
		"close": {
			"type": "button",
			"base": "/interface/colorPicker/x.png",
			"hover": "/interface/colorPicker/xred.png",
			"press": "/interface/colorPicker/xred.png",
			"pressedOffset": [0, -1],
			"position": [162, 66]
		},
		"eventCanvas": {
			"zlevel": 2,
			"type": "canvas",
			"rect": [5, 5, 163, 60],
			"captureMouseEvents": true
		},
		"spectrumImage": {
			"type": "image",
			"file": "/interface/easel/spectrumchart.png",
			"position": [5, 5],
			"zlevel": 1
		}
	},

  "canvasClickCallbacks" : {
    "eventCanvas" : "canvasClickEvent"
  },

	"scriptWidgetCallbacks": [],

	"scripts": ["/interface/colorPicker/colorPicker.lua"],
	"scriptDelta": 1,

  "serializeSelection": true
}